<div class="home-container">
  <video
    src="https://framerusercontent.com/assets/BWOyc7IZUM6ZZ9ipx984etD9lIk.mp4"
    loop
    preload="auto"
    poster="https://framerusercontent.com/images/ZFDviB8YaX05J26N4L8twvGtLg.jpg"
    muted
    playsinline
    autoplay></video>

  <div class="home-info">
    <h1>
      Welcome to <br />
      worry-free biking
    </h1>
    <p-button
      (click)="goToBikes()"
      label="See Bikes"
      [rounded]="true"
      icon="pi pi-arrow-right"
      iconPos="right"
      severity="success"
      size="large"></p-button>
  </div>
</div>
