<div class="nav-wrapper">
  <div class="nav-container">
    <nav class="nav-bar" aria-label="Primary Navigation">
      <a href="/" aria-label="home" aria-current="page">
        <img
          ngSrc="/icons/swapfiets-logo-blue.svg"
          priority
          width="110"
          height="45"
          alt="swapfiets logo"
          class="brand-logo" />
      </a>

      <a
        class="nav-bar-link"
        routerLink="/bikes"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Bikes"
        >Bikes
      </a>
    </nav>

    <div class="nav-tools-container">
      <i
        class="pi pi-globe"
        (click)="changeLanguage()"
        (keydown.enter)="changeLanguage()"
        role="button"
        tabindex="0"
        aria-label="Change language"></i>
    </div>
  </div>
</div>
