<div class="bikes-list-container">
  <div class="search-box">
    <h3 id="bike-search-label">{{ 'bikes.find-bike' | transloco | capitalize }}:</h3>
    <p-select
      [options]="cities"
      [ngModel]="selectedCity()"
      (ngModelChange)="cityChanged($event)"
      [filter]="true"
      [placeholder]="'bikes.select-city' | transloco | titlecase"
      fluid
      aria-labelledby="bike-search-label"></p-select>
  </div>

  @if (!loading()) {
    <div class="cards-container">
      @for (bike of bikes(); track bike.id) {
        <p-card
          class="bike-card"
          role="button"
          tabindex="0"
          (click)="goToDetails(bike.id)"
          (keydown.enter)="goToDetails(bike.id)">
          <div class="bike-thumbnail">
            <img
              [ngSrc]="bike.thumb || '/icons/no-image.png'"
              alt="{{ bike.title }}"
              width="200"
              height="200"
              priority />
          </div>

          <h3 [pTooltip]="bike.title.length > 35 ? bike.title : ''">
            {{ bike.title | ellipsis: 35 }}
          </h3>
          <p [pTooltip]="bike.stolen_location.length > 25 ? bike.stolen_location : ''">
            <i class="pi pi-map-marker" aria-hidden="true"></i> {{ bike.stolen_location | ellipsis: 25 }}
          </p>
        </p-card>
      } @empty {
        <img
          class="empty-page-image"
          ngSrc="/icons/bike-background.png"
          alt="Just Bike"
          width="325"
          height="200"
          priority />
      }
    </div>
  } @else {
    <div class="spinner-container">
      <p-progress-spinner ariaLabel="loading" />
    </div>
  }
</div>
