<div class="bikes-list-container">
  <div class="search-box">
    <h3 id="bike-search-label">{{ 'bikes.find-bike' | transloco | capitalize }}:</h3>
    <p-select
      [options]="cities"
      [ngModel]="selectedCity()"
      (ngModelChange)="cityChanged($event)"
      [filter]="true"
      [placeholder]="'bikes.select-city' | transloco | titlecase"
      fluid
      aria-labelledby="bike-search-label"></p-select>
  </div>

  @if (!loading()) {
    <div class="cards-container">
      @for (bike of bikes(); track bike.id) {
        <app-bike-card class="card-item" [bike]="bike" (bikeClicked)="goToDetails($event)" />
      } @empty {
        <img
          class="empty-page-image"
          ngSrc="/icons/bike-background.png"
          alt="Just Bike"
          width="325"
          height="200"
          priority />
      }
    </div>
  } @else {
    <div class="spinner-container">
      <p-progress-spinner ariaLabel="loading" />
    </div>
  }
</div>
